.items {
	background-color: #DFD7DD;
	border : 0.1em solid black;
	width:auto;
	display:block;
	padding: 5px;
	color: black;
	border-radius: 5px;
}

.fields {
	text-align: center;
}

#item-box {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#allstock-div {
	text-align: center;
}