.items {
	background-color: #DFD7DD;
	border : 0.05em solid black;
	width:auto;
	display:block;
	padding: 5px;
	color: black;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 320;
}

.fields {
	text-align: center;
}

#container {
	text-align: center;
	display: flex;
}

#allstock-div {
	text-align: left;
}

@media screen and (max-width: 525px) {
	#allstock-div {
   		text-align: center;
  	}
}

@media screen and (max-width: 525px) {
	.circle-state {
   		margin-right: 20px !important
  	}
}

.item-box {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	max-width: 200px;
	min-width: 120px;
	overflow: hidden;	
}



.items:hover {
	background-color: gray;
	color: white;
	transition: .3s
}

.circle-state {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10%;
  margin-top: 4%;
  border: .06em solid black;
  line-height: 115%;
  cursor: pointer;
  text-align: center;
}

#minus {
	margin-left: 10%;
}




#plus:hover {
	background-color: #01FE55;
}

#minus:hover {
	background-color: #FE0101;
}

.low {
	background-color: red;
}