.items {
	background-color: #DFD7DD;
	border : 0.1em solid black;
	width:auto;
	display:block;
	padding: 5px;
	color: black;
	border-radius: 5px;
	text-decoration: none;
}

.fields {
	text-align: center;
}

#item-box {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	max-width: 200px;
	min-width: 120px;
	overflow: hidden;
}

#allstock-div {
	text-align: center;
}

.items:hover {
	background-color: black;
	color: white;
}

.circle-state {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10%;
  margin-top: 4%;
  border: .06em solid black;

}

#minus {
	background-color: red;
}

#plus {
	background-color: #71C560;
}

#plus:hover {
	background-color: #6EB460;
}

#minus:hover {
	background-color: #EB0E0E;
}