.form-header {
	line-height: 30px;
	font-weight: 200;
	user-select: none;
}

.form-input {
	border-width: 1.2px;
	box-shadow: .2px 1.5px 2px black;
	padding-left: 6px;
}

.form-button {
	margin:0 auto;
	width: 85px;
}

#form {
	margin:0 auto;
	width: 220px;
	margin-top: 30px;
}


