.form-header {
	line-height: 30px;
	font-weight: bold;
}

.form-input {
	border-width: 1.2px;
	box-shadow: .2px 1.5px 4px black;
}

.form-button {
	margin:0 auto;
	width: 90px;
}

#form {
	padding-top: 50px;
	margin: 0 auto;
	width: 186px;
}