.nav-button {
	opacity: 1;
	margin: 10px 20px 0px 10px;
    background-color: #8A8A8A;
    padding: 7px 10px 7px 10px;
    color: white;
    user-select: none;
}

.nav-button:hover {
    background-color: #7E7E7E;
}

html, body {
	background-image: url(/images/background.jpg);
	background-size: cover;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
 }



 nav {
    text-align: center;
 }

 .button-pic {
    margin-right: 5px;
 }

 #plus-nav {
    font-weight: 1000;
    margin-right: 5px;
    color: green;
 }