.nav-button {
	opacity: .7;
	margin: 10px 20px 0px 10px;
}

html, body {
	background-image: url(/images/background.jpg);
	background-size: cover;
    overflow: hidden;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
 }



 nav {
    text-align: center;
 }